certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7+computecanada
contourpy==1.2.1+computecanada
cycler==0.12.1+computecanada
docker-pycreds==0.4.0+computecanada
fonttools==4.53.0+computecanada
gitdb==4.0.11+computecanada
GitPython==3.1.43
idna==3.7
kiwisolver==1.4.5+computecanada
matplotlib==3.9.0+computecanada
numpy==1.26.4+computecanada
packaging==24.1+computecanada
pandas==2.2.1+computecanada
pillow==10.3.0+computecanada
platformdirs==4.2.2+computecanada
protobuf==5.27.1+computecanada
psutil==5.9.8
pyparsing==3.1.2+computecanada
python_dateutil==2.9.0.post0+computecanada
pytz==2024.1+computecanada
PyYAML==6.0.1+computecanada
requests==2.32.3
seaborn==0.13.2+computecanada
sentry-sdk==2.6.0
setproctitle==1.3.2+computecanada
six==1.16.0+computecanada
smmap==5.0.1+computecanada
tqdm==4.66.4+computecanada
tzdata==2024.1+computecanada
urllib3==2.2.2
wandb==0.17.2